body {
    margin: 0;
    font-family:DejaVu Sans Mono, monospace;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.column {
    /* background-color: #f1f1f1; */
    float: left;
    padding: 5px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
  }

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  